.room {
  margin-top: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room:active, .room:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.dash-board {
  display: flex;
  flex-direction: row;
}

.player {
  border-bottom: 5px solid #48CDAB;
}

.player h3 {
  text-align: center;
  color: white;
  font-weight: 500;
}

.player h4 {
  text-align: left;
  padding-left: 10px;
  color: white;
  font-weight: 500;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.next-pieces {
  display: inline;
}

.next-pieces h4{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.board-game {
  border-left: 5px solid #48CDAB;
  border-right: 5px solid #48CDAB;
}

.room-board {
  display: flex;
  flex-direction: column;
  background-color: #34393e;
  border-radius: 25px;
  border: 5px solid #48CDAB;
  z-index: 1;
}

.room-name {
  border-radius: 25px 25px 0px 0px;
  border-bottom: 5px solid #48CDAB;
}

.room-name h1 {
  text-align: center;
  color: white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-weight: 500;
}

.opponents{
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.opponents-content {
  overflow: auto;
  height: 570px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opponents h3{
  text-align: center;
  color: white;
  font-weight: 500;
}

.start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 5px solid #48CDAB;
  height: 100%;
}

.please-wait {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 180px;
  width: 280px;
  background-color: #34393e;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
}

.please-wait h3{
  color: white;
  font-weight: 500;
  text-align: center;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 200px;
  background-color: #34393e;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
  z-index: 1;
  position: absolute;
  border-radius: 25px;
  border: 5px solid #48CDAB;
}

.board-game1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
