.players-spectre {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.players-spectre h3, h4{
  text-align: center;
  color: white;
  font-weight: 500;
}


.waiting-for-opponenets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.waiting-for-opponenets h4{
  text-align: center;
  color: white;
  font-weight: 500;
}
