.players-spectre {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
}

.player-spectre {
  margin: 5px;
  padding: 10px;
  border: 5px solid #48CDAB;
  border-radius: 25px;
}

.players-spectre h3, h4{
  text-align: center;
  color: white;
  font-weight: 500;
}

.waiting-for-opponenets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.waiting-for-opponenets h4{
  text-align: center;
  color: white;
  font-weight: 500;
}
