.player-spectre {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.no-opponenets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.no-opponenets h4{
  text-align: center;
  color: white;
  font-weight: 500;
}
