*~
*.swp
*.swo
log
tmp
node_modules
.idea

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Node ###
# Logs
logs
*.log
npm-debug.log*

# nyc test coverage
.nyc_output

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/

# Optional npm cache directory
.npm

### react ###
.DS_*
**/*.backup.*
**/*.back.*
