.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('../../assets/wallpaper.jpg');
  justify-content: space-between;
}

.content-wrap {
  height: 100%;
}
